<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
      <mat-toolbar style="background-color:olivedrab" fxLayoutAlign="center center" color="primary">Giriş Yap</mat-toolbar>   
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
          <mat-form-field >
            <mat-label>Kullanıcı Adı </mat-label>
            <input matInput name="username" [(ngModel)]="loginModel.username" placeholder="Kullanıcı Adı" >
          </mat-form-field>
          <mat-form-field >
              <mat-label>Şifre </mat-label>
              <input matInput type="password" name="password" placeholder="Şifre"  [(ngModel)]="loginModel.password" >
            </mat-form-field>         
            <div fxLayoutAlign="center center">
            <button mat-raised-button type="submit"  style="background-color:olivedrab" (click)="login()" color="primary">Giriş Yap</button>
            <button mat-raised-button type="submit"  style="background-color:olivedrab;margin-left: 5px;"  color="primary"  [routerLink] = "['/register']">Kayıt Ol</button>
         </div>   
          </form>      
  </mat-card>

</div>



