<div class="example-card" *ngFor = "let item of post ">
<div class="container">
  <div class="card">
    <div class="card__header">
      {{item.author}} tarafından yazıldı
        <p>
        Tarih :   {{item.date}}
        </p>            
      <img src={{item.img}} class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Kategori : {{item.category}}</span>
      <h4>{{item.title}}</h4>
      <p> {{ item.description}}</p>      
      <button [routerLink]="['/single-post']" [queryParams]="{ id: item.id}" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;"mat-button routerLink="/text">Devamı için..</button>
    </div>
   
    